body {
	font-family: "Roboto", sans-serif;
	background: #f5f5f5;
}

* {
	margin: 0;
	padding: 0;
	transition: all .3s ease;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.pointer {
	cursor: pointer;
}

.app__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	margin: 0 auto;
}

.app__filters {
	margin: 2vh auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5vh 2vw;
	gap: 2vh 2vw;
	background: #e2dfdf;
	border-radius: 12px;
	text-align: center;
}

@media screen and (max-width: 900px) {
	.app__filters {
		flex-direction: column;
	}
}

.app__hr {
	height: 5vh;
	border-left: 1px solid #000;
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 900px) {
	.app__hr {
		display: none;
	}
}

.app__pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2vh 2vw;
	margin-bottom: 2vh;
}

.app__list {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	gap: 2vh 2vw;
	flex-wrap: wrap;
}

.app__list-item {
	font-size: .7rem;
	background-color: white;
	padding: 2vh 1vw;
	border-radius: 12px;
}

.app__list-item:hover {
	background-color: #FFF3D3;
	transform: scale(1.05);
	box-shadow: 0 0 9px #FFF;
}

.app__standard-select,
.app__standard-input {
	font-family: inherit;
	font-size: .85rem;
	cursor: inherit;
	line-height: 1.5;
	text-align: center;
}

.app__standard-input__price {
	font-family: inherit;
	text-align: center;
	max-width: 7vw;
}

.app__loader-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	gap: 10vh;
}

.app__loader {
	color: #FFF;
	padding: 2vh 5vw;
	background: black;
	border-radius: 7px;
	font-weight: 200;
	font-size: 1.3rem;
	line-height: 1.5;
}

.app__items-container {
	width: 80%;
	margin: 0 auto;
	display: flex;
	padding: 3vh;
	flex-wrap: wrap;
	gap: 2vh 2vw;
	justify-content: center;
}

.app__item {
	padding: 3vh;
	background-color: #e2dfdf;
	border-radius: 12px;
	color: #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	flex-wrap: wrap;
	text-align: center;
}

.app__item:hover {
	transform: scale(1.05);
	background-color: #FFF;
	box-shadow: 0 0 9px #FFF;
}

.app__item-img {
	background-image: url('https://placehold.co/200x200/FFF3D3/000');
	max-width: 200px;
	width: 100%;
	height: 200px;
	margin-bottom: 2.5vh;
	border-radius: 12px;
}

.app__item-title {
	font-size: 1.5rem;
	line-height: 1.5;
	margin-bottom: 1vh;
}

.app__item-product {
	font-size: 1rem;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 1.5;
	max-width: 80%;
	margin-bottom: 1.5vh;
}

.app__item-price {
	font-size: 1.4rem;
	font-weight: 600;
	margin-bottom: 2.5vh;
}

.app__item-id {
	font-size: .75rem;
}